<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>imgur app</title>
</head>
<body>  
    <h1>Sick Awesome rajapinta</h1>
    <form action="/search">
        <div class="search-box">
            Tee haku
            <input type="text" name="search">
            <input type="submit" value="HAJE">            
        </div>
    </form>
    <ul class="images">
  <% for(var i=0; i<images.length; i++) {%>
    <li class="image">
      <span><%= images[i].title %></span>
      <span><%= images[i].id %></span>
    </li>
  <% } %>
  </ul>
</body>
</html>
